@media (max-width: 1000px) {
    .screen1 {
        flex-direction: column;
        justify-content: flex-start;
    }

    .screen1__right-column {
        width: 100vw;
        height: 70vh;
    }

    .screen1__hypnosis {
        height: 60vh;
    }

    .screen1__crosses,
    .screen1__lines {
        background-repeat: repeat-x;
        width: 100vw;
    }

    .screen1__crosses {
        animation-name: crosses-1000;
        padding: 0;
        order: 2;
        background-position: 0 50%;
        background-size: 6vh 6vh;
    }
    .screen1__crosses:hover {
        animation-duration: 1s;
        animation-name: crosses-1000-reversed;
    }

    .screen1__lines {
        animation-name: lines-1000;
        background-size: auto 8vh;
        order: 3;
        background-position-x: 0;
        background-repeat: repeat;
        background-image: url(../images/lines-adaptive.svg);
    }
    .screen1__lines:hover {
        animation-play-state: paused;
    }

    .screen2 {
        height: 54vh;
    }
    .screen2__left-column__bottom {
        height: 82vh;
    }
    .screen2__left-column {
        flex-direction: row;
    }
    .screen2__bashkir-swimlanes {
        width: 24.6vw;
    }
    .screen2__left-column__top,
    .screen2__swim-black-lines,
    .screen2__swim-black {
        display: none;
    }
    .screen2__left-column {
        order: 2;
    }
    .screen2__right-column {
        order: 1;
    }


    .screen3 {
        flex-direction: column;
    }
    .screen3__left-column {
        width: 100vw;
    }
    .screen3__right-column {
        padding-top: 2vh;
        height: 47vh;
        width: 100vw;
    }
    .screen3__left-col-lines {
        left: 48vw;
    }
   .screen3__left-col-letters {
       animation: screen3__left-col-letters-1000 20s linear infinite;
   }

}

@keyframes screen3__left-col-letters-1000 {
    0%, 100% {
        transform: translateX(8vw);
    }
    50% {
        transform: translateX(-235vw);
    }
}

@keyframes crosses-1000 {
    to {
        background-position-x: 6vh;
    }
}
@keyframes crosses-1000-reversed {
    from {
        background-position-x: 6vh;
    }
    to {
        background-position-x: 0;
    }
}
@keyframes lines-1000 {
    from {
        background-position-y: 0;
    }
    to {
        background-position-y: 8vh;
    }
}
