/* Common properties */
body {
  width: 100%;
  height: 100%;
  background-color:#171717;
}

.common-font {
  font-family: 'Cheshem-Regular', serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.running-span {
  display: inline-block;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}

.running-span:hover {
  animation-play-state: paused;
}

.red-running-text {
  background-color: #FF0000; 
  height: 6vh;
  font-size: 4.5vh;
  padding-top: 1vh;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
.red-running-text .running-span {
  animation-duration: 10s;
}

.black-running-text {
  font-size: 9.6vh;
  padding-top: 4.4vh;
  background-color: #171717;
  white-space: nowrap;
  height: 14vh;
  overflow: hidden;
  width: 100%;
}
.black-running-text .running-span {
  animation-duration: 4s;
}

/* Common screen properties */
.screen1,
.screen2,
.screen3 {
  display: flex;
  width: 100%;
  overflow: hidden;
}
.screen1,
.screen2,
.screen1__right-column {
  height: 82vh;
}

.screen1__hypnosis:hover > .screen1__bg1,
.screen2__right-column:hover > .screen2__bg2 {
  animation-play-state: paused;
}

/* Screen 1: introduction */
.screen1 {
  justify-content: flex-start;
}
.screen1__crosses,
.screen1__lines {
  height: 100%;
  background-origin: content-box;
  background-repeat: repeat-y;
}
.screen1__crosses {
  padding: 0 1vw;
  background-image: url(../images/crosses.svg);
  background-size: 6vw auto;
  background-color: #171717;
  width: 6vw;
  animation: cross 1s linear infinite;
}
.screen1__crosses:hover {
  animation-name: reverse-cross;
  animation-duration: 4s;
}
.screen1__lines {
  background-image: url(../images/straightlines.svg);
  background-size: 500% auto;
  width: 8vw;
  animation: lines 0.8s linear infinite;
}
.screen1__lines:hover {
  animation-duration: 2s;
}
.screen1__right-column {
  display: flex;
  flex-direction: column;
  width: 84vw;
}


.screen1__hypnosis {
  height: 76vh;
  position: relative;
}

.screen1__hypnosis-bg {
  height: 100%;
  width: 100%;
  position: absolute;
}

.screen1__bg1 {
  background-image: url(../images/backsymbolv.svg);
  z-index: -2;
  background-position: -80vw -85vh;
  animation: circle-motion-large 2.5s linear infinite;
}

.screen1__bg2 {
  background-image: url(../images/backletters.svg);
  z-index: -1;
  background-position: -52vw -72vh;
  animation: circle-motion-small 4s linear infinite;
}

.running-museum {
  animation-name: running-museum;
}
.running-museum-name {
  animation-name: running-museum-name;
}

/* Screen 2 */
.screen2 {
  width: 100%;
  height: 82vh;
}
.screen2__left-column {
  display: flex;
  flex-direction: column;
  width: 45vw;
  height: 100%;
  overflow: hidden;
}
.screen2__right-column {
  height: 100%;
  width: 55vw;
  position: relative;
}
.screen2__left-column__top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 40vh;
  width: 100%;
  overflow: hidden;
  background-color: #FF0000;
  position: relative;
}
.screen2__left-column__top::before, .screen2__left-column__top::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 30%;
  background-image: url(../images/bluetriangles.svg);
  background-repeat: repeat-x;
  background-size: contain;
  z-index: 2;
  transition: animation-duration 0.3s;
}
.screen2__left-column__top::before {
  top: 5%;
  animation: move-right 2s linear infinite;
}

.screen2__left-column__top::after {
  top: 65%;
  animation: move-right 2s linear infinite;
}
.screen2__left-column__top:hover::before {
  animation-duration: 6s; 
}

.screen2__left-column__top:hover::after {
  animation-duration: 6s; 
}

.relax, .immerse {
  position: relative; 
  z-index: 1; 
}
.relax, .immerse {
  font-size: 4.4vh;
  display: block; 
  white-space: nowrap;
  position: relative;
}
.relax {
  padding-top: 15vh;
  animation-name: move-left2;
}
.immerse {
  padding-top: 1.2vh; 
  animation-name: move-right2;
}
.screen2__left-column__bottom {
  display: flex;
  height: 42vh;
  width: 100%;
}
.screen2__bashkir-swimlanes{
  width: 12.3vw;
}
.screen2__swim-red-lines {
  background-image: url(../images/redlines.svg);
  background-repeat: repeat-y;
  background-size: contain;
  background-position: center;
  height: 300vh;
  /*overflow: hidden;*/
  animation: move-up-down 3s linear infinite;
}

.screen2__swim-red-lines:hover {
  animation-play-state: paused;
}
.screen2__swim-blue {
  background-color: #0047FF;
  animation: color-change 0.5s linear infinite;
}
.screen2__swim-blue:hover {
  background-color: #0047FF; 
  animation: none; 
}
.screen2__swim-black-lines {
  background-color: #FF0000;
}
.screen2__swim-black-lines-bg {
  background-image: url(../images/blacklines.svg);
  background-repeat: repeat-y;
  background-size: contain;
  display: block;
  width: 100%;
  height: 200vh;
  animation: move-up-down2 9s linear infinite;
}
.screen2__swim-black {
  animation: color-change2 1.8s linear infinite alternate;
}
.screen2__swim-black:hover {
  background-color: #171717; 
  animation: none; 
}

.screen2__right-column__hypnosis {
  height: 100%;
  width: 100%;
  position: absolute;
}

.screen2__bg1 {
  background-image: url(../images/backletters2.svg);
  z-index: -2;
  background-position: -50vw 0;
  animation: circle-motion-large 5s linear infinite;
}

.screen2__bg2 {
  background-image: url(../images/backsymbols2.svg);
  z-index: -1;
  background-position: -52vw 0;
  animation: circle-motion-small 3s linear infinite;
}

.running-look {
  animation-name: running-look;
}

/* Screen 3 */
.screen3 {
  justify-content: space-between;
}

.screen3__left-column {
  max-height: 100%;
  height: 48vw;
  width: 48vw;
  position: relative;
  overflow: hidden;
}
.screen3__bashkir-letters {
  height: 160vh;
  position: absolute;
  overflow: hidden;
  background-repeat: no-repeat;
}
.screen3__left-col-bg {
  background-image: url(../images/background.svg);
  z-index: -3;
  background-position: -0vw 0;
  background-size: 100% auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.screen3__left-col-lines {
  background-image: url(../images/bluelines.svg);
  z-index: -2;
  width: 26%;
  position: absolute;
  left: 23vw;
  animation: move-up-down3 9s linear infinite;
  background-size: 88% auto;
}
.screen3__left-col-letters {
  background-image: url(../images/bashkirletters.svg);
  z-index: -1;
  background-position: -0vw 5%;
  width: 360vw;
  height: 100%;
  position: absolute;
  background-size: contain;
  animation: bashkir 20s linear infinite;
  
}
.screen3__right-column {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-auto-rows: minmax(auto, 1fr); 
  grid-gap: 2vw;
  width: 48vw;
  height: 48vw;
  max-height: 100%;
  margin-right: 2vw;
}
.screen3__cubes {
  align-items: center;
  background-repeat: no-repeat;
  background-size: min(35vmin, 100%) min(35vmin, 100%);
}
.c1 {
  background-image: url(../images/cube1.svg);
  animation: change-image1 1s infinite;
}
.c2 {
  background-image: url(../images/cube2.svg);
  animation: change-image2 1s infinite;
}
.c3 {
  background-image: url(../images/cube3.svg);
  animation: change-image3 1s infinite;
}
.c4 {
  background-image: url(../images/cube4.svg);
  animation: change-image4 1s infinite;
}
.c5 {
  background-image: url(../images/cube5.svg);
  animation: change-image5 1s infinite;
}
.c6 {
  background-image: url(../images/cube6.svg);
  animation: change-image6 1s infinite;
}
.c7 {
  background-image: url(../images/cube7.svg);
  animation: change-image7 1s infinite;
}
.c8 {
  background-image: url(../images/cube8.svg);
  animation: change-image8 1s infinite;
}
.c9 {
  background-image: url(../images/cube9.svg);
  animation: change-image9 1s infinite;
}
.screen3__cubes:hover {
  animation-play-state: paused;
  animation-delay: 99999s;
}

.running-see {
  animation-name: running-see;
}

/* Screen 4 */

.screen4 {
  height: 75vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.screen4__hypnosis {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
}
.screen4__bg1 {
  background-image: url(../images/yousee2.svg);
  background-size: cover;
  background-position: center;
  z-index: -3;
  animation: fade-in-out 4s linear infinite;
}
.screen4__bg2 {
  background-image: url(../images/yousee1.svg);
  z-index: -1;
  background-position: center;
  animation: shaking 0.5s linear infinite;
}
.screen4__translation {
  position: absolute;
  width: 100vw;
  height: 70vh;
  display: flex;
  align-items: center;
}
.screen4__hello {
  font-size: 9.6vh;
}
.screen4__hello span {
  opacity: 0;
  transition: opacity 0.8s ease;
  position: absolute;
  display: block;
  width: 100vw;
  text-align: center;
}

.screen4__hello #screen4__hello1 {
  opacity: 1;
}

.screen4__hello:hover #screen4__hello1 {
  opacity: 0;
}

.screen4__hello:hover #screen4__hello2 {
  opacity: 1;
}
#credentials {
  position: absolute;
  top: 1.3vh;
  width: 100%;
  animation-name: running-credentials;
}
