body {
  width: 100%;
  height: 100%;
  background-color: #171717;
}
.firstscreen,
.secondscreen,
.thirdscreen {
  display: flex;
  width: 100%;
  overflow: hidden;
}
.firstscreen,
.secondscreen,
.firsthypnosis {
  height: 82vh;
}
.firstscreen {
  justify-content: flex-start;
  width: 100%;
}
.first_line,
.second_line {
  height: 82vh;
  background-origin: content-box;
  background-repeat: repeat-y;
}
.first_line {
  padding: 0 1vw;
  background-image: url(../images/crosses.svg);
  background-size: 6vw auto;
  background-color: #171717;
  width: 6vw;
  animation: cross 1s linear infinite;
}
.first_line:hover {
  animation-name: reverse-cross;
  animation-duration: 4s;
}
.second_line {
  background-image: url(../images/straightlines.svg);
  background-size: 500% auto;
  width: 8vw;
  animation: lines 0.8s linear infinite;
}
.second_line:hover {
  animation-duration: 2s;
}
.firsthypnosis {
  display: flex;
  flex-direction: column;
  width: 84vw;
}
.common-font {
  font-family: 'Cheshem-Regular';
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.museum,
.basement {
  background-color: #FF0000; 
  height: 6vh;
  font-size: 4.5vh;
  padding-top: 1vh;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
.museum .text-container {
  padding-left: 50px;
  white-space: nowrap;
  overflow: hidden; 
  position: absolute;
  left: 0;
  right: 0;
}
.museum .text-container span {
  display: inline-block;
  animation: running-text 10s linear infinite;
}
.museum .text-container span:hover {
  animation-play-state: paused;
}
.hypnosis1screen {
  height: 76vh;
  position: relative;
}
.hypnosis1screen:hover > .bg1,
.ssright:hover > .bg4 {
  animation-play-state: paused;
}
.hypnosisbg {
  height: 100%;
  width: 100%;
  position: absolute;
}

.bg1 {
  background-image: url(../images/backsymbolv.svg);
  z-index: -2;
  background-position: -80vw -85vh;
  animation: circle-motion-large 2.5s linear infinite;
}

.bg2 {
  background-image: url(../images/backletters.svg);
  z-index: -1;
  background-position: -52vw -72vh;
  animation: circle-motion-small 4s linear infinite;
}
.runningtextname {
  font-size: 9.6vh;
  padding-top: 4.4vh;
  background-color: #171717;
  white-space: nowrap;
  height: 14vh;
  overflow: hidden;
  width: 100%;
}
.runningtextname span {
  display: inline-block;
  animation: running-textname 4s linear infinite; 
  width: 100%;
}
.runningtextname:hover span {
  animation-play-state: paused; 
}
.secondscreen {
  width: 100%;
  height: 82vh;
}
.ssleft {
  display: flex;
  flex-direction: column;
  width: 45vw;
  height: 100%;
  overflow: hidden;
}
.ssright {
  height: 100%;
  width: 55vw;
  position: relative;
}
.top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 40vh;
  width: 100%;
  overflow: hidden;
  background-color: #FF0000;
  position: relative;
}
.top::before, .top::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 30%;
  background-image: url(../images/bluetriangles.svg);
  background-repeat: repeat-x;
  background-size: contain;
  z-index: 2;
  transition: animation-duration 0.3s;
}
.top::before {
  top: 5%;
  animation: move-right 2s linear infinite;
}

.top::after {
  top: 65%;
  animation: move-right 2s linear infinite;
}
.top:hover::before {
  animation-duration: 6s; 
}

.top:hover::after {
  animation-duration: 6s; 
}

.relax, .immerse {
  position: relative; 
  z-index: 1; 
}
.relax, .immerse {
  font-size: 4.4vh;
  display: block; 
  white-space: nowrap;
  position: relative;
}
.relax {
  padding-top: 13.4vh;
  animation: move-left2 10s linear infinite;
}
.immerse {
  padding-top: 2.7vh; 
  animation: move-right2 10s linear infinite;
}
.bottom {
  display: flex;
  height: 42vh;
  width: 100%;
}
.left {
  width: 12.3vw;
}
.redlines {
  background-image: url(../images/redlines.svg);
  background-repeat: no-repeat;
  animation: move-up-down 2s linear infinite;
}
.redlines img {
  display: block;
  width: 100%;
  object-fit: fill;
  height: 200vh;
  overflow: hidden;
}
.redlines:hover {
  animation-play-state: paused;
}
.blue {
  background-color: #0047FF;
  animation: color-change 0.5s linear infinite;
}
.blue:hover {
  background-color: #0047FF; 
  animation: none; 
}
.blacklines {
  background-color: #FF0000;
}
.blacklines img {
  display: block;
  width: 100%;
  object-fit: fill;
  height: 200vh;
  animation: move-up-down2 9s linear infinite;
}
.black {
  animation: color-change2 1.8s linear infinite alternate;
}
.black:hover {
  background-color: #171717; 
  animation: none; 
}

.rightbg {
  height: 100%;
  width: 100%;
  position: absolute;
}

.bg3 {
  background-image: url(../images/backletters2.svg);
  z-index: -2;
  background-position: -50vw 0vh;
  animation: circle-motion-large 5s linear infinite;
}

.bg4 {
  background-image: url(../images/backsymbols2.svg);
  z-index: -1;
  background-position: -52vw 0vh;
  animation: circle-motion-small 3s linear infinite;
}
.thirdscreen,
.fourthscreen {
  height: 75vh;
}
.thsleft {
  height: 100%;
  width: 50vw;
  position: relative;
  overflow: hidden;
}
.thsright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 50vw;
}
.bashkir_letters {
  height: 160vh;
  position: absolute;
  overflow: hidden;
  background-repeat: no-repeat;
}
.bg5 {
  background-image: url(../images/background.svg);
  z-index: -3;
  background-position: -0vw 0vh;
  width: 100%
}

.lines {
  background-image: url(../images/bluelines.svg);
  z-index: -2;
  width: 24.25%;
  position: absolute;
  left: 22.2vw;
  animation: move-up-down3 9s linear infinite;
}
.letters {
  background-image: url(../images/bashkirletters.svg);
  z-index: -1;
  background-position: -0vw 0vh;
  width: 360vw;
  height: 100%;
  position: absolute;
  top: 1.5vw;
  animation: bashkir 20s linear infinite;
  
}
.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.cubes {
  height: 100%;
  width: 33%;
  background-repeat: no-repeat;
  background-origin: content-box;
}
.c1 {
  background-image: url(../images/cube1.svg);
  animation: change-image1 1s infinite;
}
.c2 {
  background-image: url(../images/cube2.svg);
  animation: change-image2 1s infinite;
}
.c3 {
  background-image: url(../images/cube3.svg);
  animation: change-image3 1s infinite;
}
.c1,
.c2,
.c3 {
  background-position: 1.7vw 0vh;
}
.c4 {
  background-image: url(../images/cube4.svg);
  animation: change-image4 1s infinite;
}
.c5 {
  background-image: url(../images/cube5.svg);
  animation: change-image5 1s infinite;
}
.c6 {
  background-image: url(../images/cube6.svg);
  animation: change-image6 1s infinite;
}
.c4,
.c5,
.c6 {
  background-position: 1.7vw 1.5vh;
}
.c7 {
  background-image: url(../images/cube7.svg);
  animation: change-image7 1s infinite;
}
.c8 {
  background-image: url(../images/cube8.svg);
  animation: change-image8 1s infinite;
}
.c9 {
  background-image: url(../images/cube9.svg);
  animation: change-image9 1s infinite;
}
.c7,
.c8,
.c9 {
  background-position: 1.7vw 3vh;
}
.c1:hover, 
.c2:hover, 
.c3:hover, 
.c4:hover, 
.c5:hover, 
.c6:hover, 
.c7:hover, 
.c8:hover, 
.c9:hover {
  animation-play-state: paused;
  animation-delay: 99999s;
}
.fourthscreen {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.see {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
}
.bg6 {
  background-image: url(../images/yousee2.svg);
  z-index: -3;
  background-position: center;
  animation: fade-in-out 4s linear infinite;
}
.bg7 {
  background-image: url(../images/yousee1.svg);
  z-index: -1;
  background-position: center;
  animation: shaking 0.5s linear infinite;
}
.you_see {
  position: absolute;
  width: 27vw;
  height: 9vh;
  top: 35vh;
  left: 37vw;
}
.hello {
  position: relative;
  font-size: 9.6vh;
}
.hello span {
  position: absolute;
  opacity: 0;
  transition: opacity 0.8s ease;
}

.hello span:first-child {
  opacity: 1;
  left: 2vw;
}

.hello:hover span:first-child {
  opacity: 0;
}

.hello:hover span:last-child {
  opacity: 1;
}
.basement span {
  position: absolute;
  top: 1.3vh;
  display: inline-block;
  animation: running-text 10s linear infinite;
  width: 100%;
}
.basement span:hover {
  animation-play-state: paused;
}
